.env
node_modules/
cache/
.openzeppelin/
artifacts/
yarn\.lock
yarn-error\.log
test/\.gitkeep
build/
package-lock.json
*.abi
*.bin
.env.old
.env.my
.solhint.json
.solcover.js
coverage/
.vscode/
coverage.json
docs/
out/
typechain